#page-footer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    color: var(--col9);
    background-color: var(--col2);
    padding: 20px;
    width: 100vw;
}

#contact-list{
    grid-area: 2/2/2/2;
    padding: 0;
}

#contact-list li{
    list-style-type: none;
}

#contact-list li a{
    color: var(--col6);
    text-decoration: none;
}

#facebook, #instagram, #whatsapp{
    width: 20px;
}

#register-form{
    grid-area: 3/2/3/2;
}

#register-form input{
    color: var(--col9);
    background-color: var(--col5);
    border: var(--col8) 2px solid;
    outline: none;
    height: 30px;
}

#register-form input[type=submit]{
    cursor: pointer;
}

#register-form ::placeholder{
    color: var(--col7);
}

#info{
    grid-area: 3/3/3/3;
    text-align: right;
    color: rgb(75, 75, 75);
    cursor: context-menu;
}

#info a{
    color: rgb(75, 75, 75);
    text-decoration: none;
}
