#nav-bar{
    background-color: var(--col2);
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    border-bottom: var(--col2) 3px solid;
    height: 3em;
}

#logo img{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--col2);
    height: 75px;
    padding: 10px;
    z-index: 2;
    border-radius: 0 0 10px 0;
}

#menu, #menu-img, #menu-close-img{
    display: none;
}

navbar{
    padding: 5px 0;
    display: unset;
}

navbar a{
    text-decoration: none;
    text-align: center;
    padding: 0 5px;
    border: var(--col5) solid 1px;
    border-radius: calc(1.25em/2);
    color: var(--col9);
    background-color: var(--col1);
    font-size: 1.25em;
}

navbar a:hover, navbar a:focus{
    text-decoration: none;
    background-color: var(--col2);
    border: var(--col6) solid 1px;
    color: var(--col9);
}

@keyframes fading {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

#about img, #menu-img, #menu-close-img{
    height: 1rem;
    min-height: 20px;
    margin: 0;
}