#nav-bar{
    background-color: var(--col5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    border-bottom: var(--col2) 3px solid;
}

#logo img{
    height: 5vh;
    max-height: 100px;
    min-height: 40px;
    margin: 0;
}

#menu, #menu-img, #menu-close-img{
    display: none;
}

navbar{
    display: unset;
}

navbar a{
    border: var(--col1) solid 1px;
    border-radius: 5px;
    color: var(--col9);
    font-size: 1.25em;
}

navbar a:hover{
    text-decoration: underline;
    color: var(--col9);
}

@keyframes fading {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

#about img, #menu-img, #menu-close-img{
    height: 1rem;
    min-height: 20px;
    margin: 0;
}