#nav-bar{
    background-color: var(--col5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    border-bottom: var(--col2) 3px solid;
}

#logo img{
    height: 5vh;
    max-height: 100px;
    min-height: 40px;
    margin: 0;
    background-color: var(--col6);
}

#search-bar{
    display: flex;
}

#nav-buttons{
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

#nav-buttons li{
    list-style-type: none;
}

#nav-buttons li a{
    margin: 0 5px;
    color: var(--col9);
    text-decoration: none;
    font-size: 1.25em;
}

#nav-buttons li a:hover{
    text-decoration: underline;
}

 #about img{
    height: 1rem;
    min-height: 20px;
    margin: 0;
}