@media (max-width: 800px) {
    h1 { font-size: 26px !important; }
    h2 { font-size: 24px !important; }
    h3 { font-size: 22px !important; }
    
    #nav-bar{
        position: absolute;
        top: 0;
        flex-direction: row;
        justify-content: flex-end;
    }

    #logo img{
        position: absolute;
    }

    #menu{
        z-index: 1;
        opacity: 0;
        cursor: pointer;
        transform: scale(2);
    }
    
    #menu, #menu-img{ display: unset; }

    #menu-img, #menu-close-img{
        top: 1px;
        position: relative;
        right: 23px;
    }

    navbar{ display: none; }
    
    #menu:checked ~ navbar a, #menu:checked ~ navbar{
        display: block;
        width: auto;
        margin: 5px;
        text-align: center;
        color: var(--col9);
    }

    #menu:checked ~ #menu-close-img{
        display: unset;
        position: relative;
    }

    #menu:checked ~ #menu-img{ display: none; }
    
    #menu:checked ~ navbar{
        display: flex;
        flex-direction: column;
        animation-name: fading;
        animation-fill-mode: forwards;
        animation-duration: 0.6s;
        position: absolute;
        background-color: var(--col2);
        top: 1.25em;
    }

    a{ font-size: 0.9em; }

    #title, #sub-title{ margin: 0; }

    #title{ font-size: 40px !important; }

    #sub-title{ font-size: 35px !important; }

    #slider{ margin-top: 300px; }

    #products{
        grid-area: 4/1/4/4;
        grid-template-columns: repeat(auto-fit, 200px);
    }

    .product:hover{
        animation: none;
        border: var(--col4) 3px solid;
    }

    .product h3{ font-size: 0.9em; }

    .product p{ font-size: 0.75em; }

    #page-footer{ display: block; }
}