@media (max-width: 800px) {
    h1 { font-size: 26px !important; }
    h2 { font-size: 24px !important; }
    h3 { font-size: 22px !important; }
    
    #nav-bar{
        position: absolute;
        top: 0;
        flex-direction: column;
        justify-content: center;
    }

    #logo{
        position: relative;
        display: block;
    }

    #background{
        display: none;
    }

    #menu, #menu-img{
        display: none;
    }

    navbar{
        display: unset;
    }

    navbar a{
        color: var(--col9);
    }

    a{
        font-size: 0.9em;
    }

    #title, #sub-title{
        height: 100%;
        background-color: var(--col1);
    }
    
    #slider{
        grid-area: 3/1/3/4;
        height: 50vw;
    }

    .item img{
        width: 100vw !important;
        height: 50vw !important;
        margin: auto auto;
    }

    #products{
        grid-area: 4/1/4/4;
        grid-template-columns: repeat(auto-fit, 200px);
    }

    .product:hover{
        animation: none;
        border: var(--col4) 3px solid;
    }

    .product h3{
        font-size: 0.9em;
    }

    .product p{
        font-size: 0.75em;
    }
}

@media (min-width: 2200px) {
    #nav-bar{
        max-width: 5000px;
        left: 50%;
        transform: translateX(-50%);
        border-left: var(--col2) 3px solid;
        border-right: var(--col2) 3px solid;
        border-radius: 0 0 25px 25px;
        justify-content: space-evenly;
    }
}