@media (max-width: 800px) {
    #nav-bar{
        position: absolute;
        top: 0;
        flex-direction: column;
        justify-content: center;
    }

    #nav-buttons li a, #search-bar input{
        font-size: 0.9em;
    }

    #logo{
        position: relative;
        display:-webkit-box;
        -webkit-box-align:center;
        -webkit-box-pack:center;
    }
    
    #nav-buttons{
        position: relative;
        justify-content: space-evenly;
        align-content: space-evenly;
        align-items: space-between;
        width: 100vw;
    }

    #search-bar input{
        display: block;
        margin: 2px auto;
    }

    main{
        grid-template-rows: repeat(6, auto);
    }

    #featured{
        width: 100vw;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }

    #slider{
        grid-area: 2/1/2/4;
    }

    .item img{
        height: 50vh !important;
        margin: auto auto;
    }

    #pagination{
        grid-area: 4/1/4/4;
    }

    #products{
        grid-area: 3/1/3/4;
        grid-template-columns: repeat(auto-fit, 200px);
    }

    .product:hover{
        animation: none;
        border: var(--col4) 3px solid;
    }

    .product h3{
        font-size: 0.9em;
    }

    .product p{
        font-size: 0.75em;
    }

    .advertising{
        display: none;
    }
}

@media (min-width: 2200px) {
    #nav-bar{
        max-width: 5000px;
        left: 50%;
        transform: translateX(-50%);
        border-left: var(--col2) 3px solid;
        border-right: var(--col2) 3px solid;
        border-radius: 0 0 25px 25px;
        justify-content: space-between;
    }

    #featured{
        max-width: 4000px;
    }

    .advertising{
        width: 10vw;
    }
}