:root{
    --col1: #181618;
    --col2: #1f2224;
    --col3: #660708;
    --col4: #A4161A;
    --col5: #BA181B;
    --col6: #E43033;
    --col7: #B1A7A6;
    --col8: #D3D3D3;
    --col9: #F5F3F4;
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    font-family: Iosevka sans-serif;
    background-color: var(--col9);
    color: var(--col1);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main{
    display: grid !important;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    margin: 150px 0 0 0;
    justify-content: center;
}

#comming-soon{
    grid-area: 2/2/2/2;
}

#featured{
    grid-area: 1/1/1/4;
    background-color: var(--col6);
    border: var(--col2) 3px solid;
    border-radius: 5px;
    width: 95vw;
    height: 300px;
    display: flex;
    align-items: center;
    overflow: scroll;
    overflow-y: hidden;
}

.featured-item{
    color: var(--col1);
    border: var(--col2) 2px solid;
    height: 250px;
    width: 250px;
    min-width: 250px;
    background-color: var(--col9);
    text-decoration: none;
    margin: 0 5px;
}

.featured-item img{
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#slider{
    margin: 20px 0;
    grid-area: 2/1/2/4;
    background-color: black;
}

.item img{
    height: 500px !important;
    margin: auto auto;
}

.carousel-caption{
    display: none;
}

.advertising{
    background-color: white;
    border: var(--col1) 4px solid;
    width: 15vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0;
}

.advertising img{
    width: 100%;
}

#products{
    grid-area: 3/2/3/2;
    display: grid;
    background-color: var(--col8);
    grid-template-columns: repeat(3, 200px);
    grid-row-gap: 10px;
    justify-content: center;
    justify-items: center;
    margin: 100px 0;
    width: 100vw;
    max-width: 700px;
    padding: 10px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.product{
    background-color: var(--col8);
    color: var(--col1);
    border: var(--col4) 3px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    width: 90%;
    height: 250px;
    text-decoration: none;
}

.product:hover{
    animation-name: expand;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    border: var(--col6) 3px solid;
    text-decoration: none;
}

@keyframes expand{
    50%{ transform: scale(1.05); }

    100%{ transform: scale(1.1); }
}

.product-title{
    margin: 0;
    text-align: center;
    width: 100%;
}

.product header{
    background-color: var(--col2);
    color: var(--col8);
    border-radius: 2px 2px 0 0;
    padding: 0;
}

.product article{
    margin: 10px 10px 0 10px;
}

.product footer{
    background-color: var(--col1);
    color: var(--col7);
    border-radius: 0 0 2px 2px;
}

.product footer p{
    font-size: 1.25em;
    text-align: center;
    margin: 0;
}

.product img{
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

#pagination{
    padding: 0;
    margin: 0 auto 50px auto;
    cursor: context-menu;
    grid-area: 4/3/4/2;
    width: fit-content;
}

#pagination li{
    background-color: var(--col4);
    text-align: center;
    width: 20px;
    display: inline-block;
    list-style-type: none;
}

#actual-page{ background-color: var(--col6) !important; }

#pagination a{
    text-decoration: none;
    color: var(--col8);
}