:root{
    --col1: #181618;
    --col2: #1f2224;
    --col3: #660708;
    --col4: #A4161A;
    --col5: #BA181B;
    --col6: #E43033;
    --col7: #B1A7A6;
    --col8: #D3D3D3;
    --col9: #F5F3F4;
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    font-family: Iosevka;
    background-color: var(--col1);
    color: var(--col9);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0 0 0;
}

#featured{
    background-color: var(--col6);
    width: 100vw;
    height: 300px;
}

#featured-items{
    margin-top: 3px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    animation: 10s slider infinite;
}

@keyframes slider {
    33%{ left:-260px; }
    66%{ left:-520px; }
    100%{ left: 0; }
}

.featured-item{
    color: var(--col1);
    border: var(--col2) 2px solid;
    height: 250px;
    width: 250px;
    min-width: 250px;
    background-color: var(--col9);
    text-decoration: none;
    margin: 0 3px;
}

.featured-item img{
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#featured-pagination{
    margin: 0 auto;
    border-radius: 5px;
    cursor: context-menu;
}

#featured-pagination input{ cursor: pointer; }

#featured-item1:checked ~ #featured-items { left:0; }
#featured-item2:checked ~ #featured-items { left:-260px; }
#featured-item3:checked ~ #featured-items { left:-520px; }

#products{
    display: grid;
    background-color: var(--col2);
    grid-template-columns: repeat(3, 200px);
    grid-row-gap: 10px;
    justify-content: center;
    justify-items: center;
    margin: 100px 0;
    width: 100vw;
    max-width: 700px;
    padding: 10px 0;
}

.item{
    background-color: var(--col7);
    color: var(--col1);
    border: var(--col9) 3px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    width: 90%;
    height: 250px;
    text-decoration: none;
}

.item:hover{
    animation-name: expand;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    border: var(--col6) 3px solid;
}

@keyframes expand{
    50%{ transform: scale(1.05); }

    100%{ transform: scale(1.1); }
}

.item-title{
    margin: 0;
    text-align: center;
}

.item header{
    background-color: var(--col2);
    color: var(--col8);
    border-radius: 2px 2px 0 0;
    padding: 2px;
}

.item article{
    margin: 10px 10px 0 10px;
}

.item footer{
    background-color: var(--col1);
    color: var(--col7);
    border-radius: 0 0 2px 2px;
}

.item footer p{
    font-size: 1.25em;
    text-align: center;
    margin: 0;
}

.item img{
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

#pagination{
    padding: 0;
    margin: 0 0 150px 0;
    cursor: context-menu;
}

#pagination li{
    background-color: var(--col3);
    text-align: center;
    width: 20px;
    display: inline-block;
    list-style-type: none;
}

#actual-page{ background-color: var(--col5) !important; }

#pagination a{
    text-decoration: none;
    color: var(--col8);
}