:root{
    --col1: #181618;
    --col2: #1f2224;
    --col3: #660708;
    --col4: #A4161A;
    --col5: #BA181B;
    --col6: #E43033;
    --col7: #B1A7A6;
    --col8: #D3D3D3;
    --col9: #F5F3F4;
}

h1 { font-size: 30px !important; }
h2 { font-size: 25px !important; }
h3 { font-size: 20px !important; }

html, body{
    height: 100%;
    margin: 0;
}

body{
    font-family: Iosevka, sans-serif;
    background-color: var(--col9);
    color: var(--col1);
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
}

main{
    width: 100vw;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    margin: 6em 0 0 0;
    justify-content: center;
}

#background{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: -1;
    width: 100vw;
    filter: brightness(30%);    
}

#comming-soon{ text-align: center; }

#title{ font-size: 60px !important; }
#sub-title{ font-size: 50px !important; }

#title, #sub-title{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: var(--col8);
}

#slider{
    margin-top: 90vh;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    background-color: black;
}

.item img, #slider{
    height: 40vw !important;
    width: 80vw !important;
}

#products{
    display: grid;
    background-color: var(--col8);
    grid-template-columns: repeat(3, 200px);
    grid-row-gap: 15px;
    justify-content: center;
    justify-items: center;
    margin: 100px 0;
    width: 100vw;
    padding: 10px 0;
}

.product{
    background-color: var(--col8);
    color: var(--col1);
    border: var(--col4) 3px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    width: 90%;
    height: 250px;
    text-decoration: none;
}

.product:hover, .product:focus{
    animation-name: expand;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    border: var(--col6) 3px solid;
    text-decoration: none;
}

@keyframes expand{
    50%{ transform: scale(1.05); }

    100%{ transform: scale(1.1); }
}

.product-title{
    margin: 0;
    text-align: center;
    width: 100%;
}

.product article{
    margin: 10px 10px 0 10px;
}

.product footer{
    background-color: var(--col1);
    color: var(--col7);
    border-radius: 0 0 2px 2px;
    height: 25%;
}

.product footer p{
    font-size: 1.25em;
    text-align: center;
    margin: 0;
}

.product img{
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}